[worldserver]

### VENDORS ###
# Obtain armor from the assistant npc
Assistant.Armor = 0

# Obtain weapons from the assistant npc
Assistant.Weapons = 0

# Obtain glyphs from the assistant npc
Assistant.Glyphs = 0

# Obtain containers from the assistant npc
Assistant.Containers = 0
###

### PROFESSIONS ###
# Increase profession skills by spending gold
Assistant.Professions = 0

# Enable specific ranks
Assistant.Professions.Apprentice.Enabled = 1
Assistant.Professions.Journeyman.Enabled = 1
Assistant.Professions.Expert.Enabled = 1
Assistant.Professions.Artisan.Enabled = 1
Assistant.Professions.Master.Enabled = 0
Assistant.Professions.GrandMaster.Enabled = 0

# The gold required for each rank
Assistant.Professions.Apprentice.Cost = 100
Assistant.Professions.Journeyman.Cost = 250
Assistant.Professions.Expert.Cost = 500
Assistant.Professions.Artisan.Cost = 750
Assistant.Professions.Master.Cost = 1250
Assistant.Professions.GrandMaster.Cost = 2500
###

### LEVELS ###
# Set level to 60
Assistant.Levels.Enabled = 1